<script>
	import { onMount } from "svelte";
	const remote = require('electron').remote
	export let color = 'green';
	export let numberLimit = 'Loading...';
	export let tickSpeed = 5000;
	export const fetchData = (async () => {
		const randomArray = [
			'https://api.jsonbin.io/b/5f6495467243cd7e823e9aef',
			'https://api.jsonbin.io/b/5f64958f302a837e9568a948',
		]
		const randomElement = randomArray[Math.floor(Math.random() * randomArray.length)];
		await fetch(randomElement)
		.then(r => r.json())
		.then(data => {
		numberLimit = data[0].record_limit;
		if(numberLimit > 500){
			color = 'red';
		}else{
			color = 'blue';
		}
		});
	});

	export const closeWindow = (()=> {
		 remote.getCurrentWindow().close();
	});
	export const minWindow = (() => {
		 remote.getCurrentWindow().minimize();
	});
	onMount(async () => {
		window.setInterval(function(){
  			fetchData();
		}, tickSpeed);
	});

</script>
<header id="titlebar">
	<div id="drag-region">
		<div id="window-controls">
	
		<div class="button" id="min-button" on:click={minWindow}> 
			<img class="icon" srcset="./icons/min-w-10.png 1x, icons/min-w-12.png 1.25x, ./icons/min-w-15.png 1.5x, icons/min-w-15.png 1.75x, ./icons/min-w-20.png 2x, ./icons/min-w-20.png 2.25x, ./icons/min-w-24.png 2.5x, ./icons/min-w-30.png 3x, ./icons/min-w-30.png 3.5x" draggable="false" />
		</div>
	
		<div class="button" id="close-button" on:click={closeWindow}>
			<img class="icon" srcset="./icons/close-w-10.png 1x, ./icons/close-w-12.png 1.25x, ./icons/close-w-15.png 1.5x, ./icons/close-w-15.png 1.75x, ./icons/close-w-20.png 2x, ./icons/close-w-20.png 2.25x, ./icons/close-w-24.png 2.5x, ./icons/close-w-30.png 3x, ./icons/close-w-30.png 3.5x" draggable="false" />
		</div>
	
		</div>
	</div>
	</header>
<main id="main">
    <div class="outer-frame">
		<div class={color + ' alert'}>{numberLimit}</div>
	</div>
</main>

<style>
	html, body {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
*, *:before, *:after {box-sizing: inherit;}

html, body {height: 100%; margin: 0;}
	main {
		text-align: center;
		max-width: 240px;
		margin: 0 auto;
	}
	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}
	.alert{
		padding:10px;
		border-radius:20px;
		font-size:28px;
	}
	.alert.red{
		background: #ff3e00;
		color:#fff;
	}
	.alert.green{
		background: #3ecf8e;
		color:#fff;
	}
	.alert.blue{
		background:#1DA1F2;
		color:#fff;
	}
	.red{
		color:#ff3e00;
	}
	.green{
		color:#3ecf8e;
	}
	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
	#titlebar {
		display: block;
		position: fixed;
		height: 32px;
		width: calc(100% - 2px); /*Compensate for body 1px border*/
		background: #254053;
		top:0px;
		left:0px;
	}
	#titlebar {
		padding: 4px;
	}

	#titlebar #drag-region {
		width: 100%;
		height: 100%;
		-webkit-app-region: drag;
	}

	#main {
		height: calc(100% - 32px);
		margin-top: 32px;
		padding: 50px;
		text-align: center;
		max-width: 240px;
		margin: 0 auto;
	}
	#window-controls {
		display: grid;
		grid-template-columns: repeat(3, 46px);
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
	}

	#window-controls .button {
		grid-row: 1 / span 1;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	#min-button {
		grid-column: 2;
	}
	#max-button, #restore-button {
		grid-column: 2;
	}
	#close-button {
		grid-column: 3;
	}
	@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
			(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
			(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
		#window-controls .icon {
			width: 10px;
			height: 10px;
		}
	}
	#window-controls {
	-webkit-app-region: no-drag;
	}

	#window-controls .button {
		user-select: none;
	}
	#window-controls .button:hover {
		background: rgba(255,255,255,0.1);
	}
	#window-controls .button:active {
		background: rgba(255,255,255,0.2);
	}

	#close-button:hover {
		background: #E81123 !important;
	}
	#close-button:active {
		background: #F1707A !important;
	}
	#close-button:active .icon {
		filter: invert(1);
	}

	#restore-button {
		display: none !important;
	}
	
</style>